.loginpage__main {
    display: flex;
    margin-top: 7.7198937%;
}

.loginpage__logo {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.loginpage__rightcomponent {
    height: 350px;
    width: 100;
    border: 1px solid #DBDBDB;
    text-align: center;
    margin: auto;
}
.textInput{
    margin-top: 3px;
    margin-bottom: 3px;
}

::placeholder{
    font-size: 10px;
}


.textUser{
    width: 195px;
    height: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 15px;
    background-color: #f9f9f9;
}

.textPassword{
    width: 195px;
    height: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 15px;
    background-color: #f9f9f9;
}

.LoginButton{
    width: 225px;
    height: 30px;
    border: 1px solid #DBDBDB;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 12px;
    background-color: #77a7ff;
    color: #ecf3ff ;
    font-weight: 600;
}

